.container {
    display: flex;
    justify-content: center;
    align-items: center; /* Untuk mengatur teks secara vertikal di tengah */
    background-color: rgb(42, 42, 248);
    color: white;
    height: 50px;
    font-size: 15px;
}

.container a {
    text-decoration: none; /* Menghapus garis bawah pada link */
    margin: 0 10px; /* Memberikan jarak antara link */
    color: white; /* Warna teks pada navbar */
    }

.container a:hover {
    color: rgb(127, 235, 217);
}

